<header class="main-header {{ include.header_class }}{% if page.cover %}" style="background-image: url({{ site.baseurl | append: page.cover }}){% else %} no-cover{% endif %}">

  <nav class="main-nav {% if page.cover %}{% else %}overlay{% endif %} clearfix">

  {% if site.logo %}
    <a class="blog-logo" href="{{ site.url | append: site.baseurl }}">{% include site-logo.html %}</a>
  {% endif %}

   <a href="{{ site.url | append: site.baseurl }}">{{ site.title }}</a>
  {% if site.navigation %}
    {% for item in site.navigation %}
            {% if page.url == item.slug %}
                {% assign active = "active" %}
            {% else %}
              {% assign active = "" %}
            {% endif %}
        &nbsp; :: &nbsp;<a href="{{ item.slug | prepend: site.baseurl }}" class="{{active}}">{{ item.label }}</a>
    {% endfor %}
  {% endif %}
  {% if site.navigation %}
    <!-- <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a> -->
  {% endif %}
  </nav>
{% if page.url == '/' %}
  <div class="vertical">
    <div class="main-header-content inner">
      <!-- <h1 class="page-title">{{ site.title }}</h1> -->
      <h2 class="page-description">{% if site.description %}{{ site.description }}{% endif %}</h2>
    </div>
  </div>
  <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
{% endif %}
{% if page.is_home %}
<div class="audio-container">
    <p class="track"> <span><span></span></span></p>
    <button data-am-button="small" id="btn-mute"><i class="fa fa-volume-up"></i></button>
    <!-- <button data-am-button="large" id="btn-play-pause"><i class="fa fa-play"></i></button> -->
    <!-- <button data-am-button="small" id="btn-stop"><i class="fa fa-stop"></i></button> -->
    <div id="progress-bar"><span id="progress" style="width: 4%;"></span></div>
</div>
{% endif %}
</header>
