.audio-container {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
}
p.track {
    text-transform: uppercase;
    color: #ffffff;
}
p.track span {
    color: #999999;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease 0;
    transition: all 0.2s ease 0;
    &:hover {
        color: #999;
        border-color: #999;
    }
    &:focus {
        outline: none;
    }
}

button[data-am-button^="small"] {
    width: 40px;
    height: 40px;
}

button[data-am-button^="large"] {
    width: 60px;
    height: 60px;
    margin: 0 5px;
}

#progress-bar {
    width: 100%;
    background-color: #000000;
    height: 5px;
    position: relative;
    margin: 1em 0 1px;
}

#progress-bar #progress {
    background-color: #999999;
    height: 5px;
    position: absolute;
    left: 0;
    -webkit-transition: width 2.5s linear 0;
    transition: width 2.5s linear 0;
}


.stars-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 240px;
    backface-visibility: visible;
    z-index: 0;
    animation: spin 300s linear infinite;
}

